html {
    scroll-behavior: smooth;
  }

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

.top-hr{
     background-color: #E5E7EB; 
     height: 1px; 
     border: 0; 
}
.face-flex li:hover{
    font-weight: bolder;
}

.fa-heart{
   position: relative;
   left: 90px;
   top: 30px;
   font-size: large;
  color:#D1D5DB;

}

.hr-text{
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    /* opacity: .5; */
    font-weight: bolder;
    font-size: x-large;
    margin-top: 3rem;

  }

.hr-text:before{
        content: '';
        background: linear-gradient(to right, transparent, #818078, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
     
}
.hr-text:after{
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #fff;
}