html {
    scroll-behavior: smooth;
  }

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

hr{
     background-color: #E5E7EB; 
     height: 1px; 
     border: 0; 
}
.face-flex li:hover{
    font-weight: bolder;
}

.fa-heart{
   position: relative;
   left: 90px;
   top: 30px;
   font-size: large;
  color:#D1D5DB;

}
