
.top-little-head{
    display: none;
}

#navbar{
    display: none;
}

.flex-nav{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Ux{
    display: none;
}

.most-sellers{
  
    width: 500px;
}

#note{
   
    width: 100px;
    /* margin: 1rem 11rem; */
    margin-top: 0;

}


 .search input{
    width: 75vw;
    padding: 0.3rem 0.3rem;
  
   

}

.search .ara{
    width: 8vw;
    padding: 0.3rem 0.3rem;
}
 */





 footer ul{
    margin: 0.1rem;
    letter-spacing: 0;

}









.top-hr{
    display: none;
}














.slider-img{
    margin-top: 2rem;
    height: 30vh;
}

















.most-sellers-slide{
    
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0.2rem;
    width: 100vw;
    margin: 0 1rem;
 
}

footer ul{
    margin: 0.1rem;
    letter-spacing: 0;

}

.son{
    width: 90vw;
    margin: 0 1rem;
    margin-top: 1rem;
}