@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaisei HarunoUmi', serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}


.top-little-head{
    background-color: #E5E7EB;
    max-width: 100vw;
    margin: 0 auto;
    
}
.top-flex{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
}
.top-flex .top-number{
    position:absolute;
    left: 10px;
    letter-spacing: 0;
}
.top-flex .top-cargo{
    position:absolute;
    right: 10px;
    letter-spacing: 0;
    cursor: pointer;
}
.top-flex .mx{
    font-weight: bolder;
    letter-spacing: 0;
}


/******************************TOP*****************************/

.flex-nav{
    margin:1rem auto;
    display: flex;
    justify-content: space-around;
    max-width: 100vw; 
}

#note{
    position:absolute;
    left: 10px;
}




.search input{
    width: 358px;
    padding: 0.5rem 0.5rem;
}
.search span{
    width: 100px;
    background-color: #4B5563;
    padding: 0.5rem 2rem;
    color:#fff;
    font-weight:500; 
    cursor: pointer;
    letter-spacing: 0;
}

.Ux{
    display: flex;
    position: absolute;
    right: 10px;
    
}

.Ux li{
   padding: 0.2rem 0.5rem;

}
.Ux a{
    letter-spacing: 0;
}
.pr-1{
    cursor: pointer;
    display: flex;
    position: relative;
    left: 35px;
    bottom: 47px;
    padding: 0.1rem 0.5rem;
    margin: 0.1rem 0.8rem;
}

.pr-1:hover{
     opacity: 0.8;
}

.pr-1 pre{
    letter-spacing: 0;
}
.mxy{
    cursor: pointer;
    letter-spacing: 0;
}
.mxy:hover{
    opacity: 0.8;
}


.fa-user, .fa-shopping-bag{
    padding: 0.7rem;
    font-size: 20px;
    border:solid 1px #E5E7EB;
    border-radius: 50%;
}
.fa-shopping-bag:hover{

    border:solid 1px black;
    
}
.fa-user:hover{
    border: solid 1px black;
}



/*header*/


.dropdown{
    margin-top: 1rem;
    width: 100vw;
    background-color: #fff;
}
.drops{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}
.drops li{
    padding: 0.2rem 1.5rem;

}
.drops li:hover{
    color:red;
}
/*malzemeler*/

.face-components{
    /* margin:0 6rem; */
    margin-left: 10rem;
    width: 1300px;
    height: 100px;
    
}

.face-flex{
    display: flex;
}
.face-flex li{
    /* padding: 0.2rem 1rem; */
    /* margin: 0.1rem 6rem; */
    width: max-content;
    padding-top: 0.4rem;
    cursor: pointer;
}
.face-one{
    position:absolute;
    /* right:10px; */
    left: 30px;
    /* margin: 0.1rem 6rem; */
    
}
.face-two, .face-three, .face-four{
    padding: 0.2rem 1rem; 
     margin: 0.1rem 6rem;
}
.menu{
    margin-top: 1.2rem;
}
/*slider*/
.slider{
    width: 99vw;
}
.slider-img{
    margin-top: 2rem;
    width: 99vw;
    height: 62vh;
    cursor: pointer;
   
}

.ballons{
    /* z-index: 1; */
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    bottom: 25px;
    left: 720px;
    z-index: 2;
   
    
}
.ballon{
    
    border: solid 1px gainsboro;
    border-radius: 50%;
    padding: 0.4rem;
}
.ballon{
    background-color: #fff;;
}


/************************** MOST SELLERS *************************************/

.most-header{
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    z-index: 1;

}


.most-sellers-slide{
    display: grid;
    grid-template-columns: repeat(5,1fr);
   max-width:fit-content;
    background-color: #fff;
    margin: 1rem auto;
    grid-gap: 1rem;
}
.most-sellers-slide span{
    font-size:larger;
    font-weight: bolder;
}


.most-sellers img{
    width: 220px;
    height: 300px;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
.product-details:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
   
}

.details{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0;
    max-width: fit-content;
    /* font-weight: 500; */
    font-size:medium;
}

/**************************ÇOK SATANLAR******************************/


.little{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    /* letter-spacing: 0; */
}
.little input{
    width: 350px;
    padding: 0.3rem 1rem;
    outline: none;
    border: 1px solid rgb(196, 192, 192);
}
.little button{
    padding: 0.3rem 1.2rem;
    color:#fff;
    background-color: #1F2937;
    cursor: pointer;
    letter-spacing: 0;  
}
.little button:hover{
    opacity: 0.7;
    transition: 0.5s all;
}
.little p{
    letter-spacing: 0;
    margin: 0.5rem 0;
    font-size:0.9rem;
}
.little h3{
    letter-spacing: 0;
}
/************************footer****************************/

footer{
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 3rem;
}

footer ul{
    margin: 4rem;
    letter-spacing: 0;
    
    
}
.footerx ul li a{
    letter-spacing: 0;
    color:#9CA3AF;
    margin-top: 0.4rem;
    
}

footer ul li a:hover{
    text-decoration: underline;
    
}
.oi li{
    margin-top: 0.4rem;
}